.menu-container {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 5px;

    color: white;
}

.menu-items {
    display: flex;
}

.menu-items li {
    list-style: none;
    margin: 5px;
    padding: 10px;
    font-size: 18px;

}

.menu-items li:hover {
    color: blue;
    cursor: pointer;

}

.banner-container {
    color: white;

    display: flex;
    width: 100%;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.banner-description {
    margin-left: 50px;

}

.banner-text {
    color: red;
    font-size: 25px;
}